@use '../abstracts' as *;
@use '../base' as *;

.hero-cta {
  @include breakpoint(sm) {
    width: rem(327);
  }

  @include breakpoint(md) {
    width: rem(540);
  }

  &__card {
    width: inherit;
    margin-top: $form-container__card-margin-top;
    background-color: $theme-bg-color;
    border-radius: $form-border-radius;
    padding: $form-container__card-padding-sm;
    text-align: center;
    line-height: $card-text-line-height;
    margin-bottom: $form-container__card-margin-bottom;
    box-shadow: $form-container__card-box-shadow;
    transition: $transition;

    &:hover {
      background-color: $theme-text-secondary-hover;
    }

    @include breakpoint(xxl) {
      margin-top: 0;
      padding: $form-container__card-padding;
    }

    &-header {
      font-size: $card-text-font-size-sm;
      font-weight: $card-heading-font-weight;
    }

    &-text {
      font-weight: $card-para-font-weight;
    }
  }

  &__form {
    padding: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(16);
    width: 100%;
    background-color: $theme-card-bg;
    border-radius: $form-container__card-border-radius;
    box-shadow: $form-container__card-box-shadow;
    justify-content: left;

    @include breakpoint(lg) {
      padding: rem(40);
      gap: rem(20);
    }

    &-terms {
      color: $theme-text-neutral;
      text-align: center;
      font-size: $form-info-font-size;
      line-height: $form-info-line-height;
      font-weight: $form-info-para-font-weight;

      &-heading {
        font-weight: $form-info-heading-font-weight;
        color: $theme-bg;
      }

      @include breakpoint(sm) {
        width: rem(249);
        margin-left: auto;
        margin-right: auto;
      }

      @include breakpoint(md) {
        width: rem(369);
      }
    }
  }
}
